development:
  database_name: applyance
  database_host: localhost
  database_user: applyance
  database_password: <secret>
  aws_s3_access_key_id: <secret>
  aws_s3_secret_access_key: <secret>
  mandrill_api_key: <secret>
  client_url: http://localhost:4567
  stripe_secret_key: sk_test_gLMiILQEHRkXOWgtmyTwBh5n
