.main-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-list__item {
  padding: 24px 0;
  border: 0 solid rgba(black, .1);
  border-bottom-width: 1px;
  &:first-child { border-top-width: 1px; }
}
